*,body,div,p,table,td,input,option,textarea,select{margin:0; padding:0; font-size:1em; font-family:'寰蒋闆呴粦';}
span {display:inline-block;}
body { overflow:hidden;}
ul {list-style-type:none; margin:0; padding:0;}
.bg_none {background:none;}
.displayN {display:none;} 
.clear {clear:both;}

.float_l {float:left;}
.float_r {float:right;}

.txtL {text-align:left;}
.txtC {text-align:center;}
.txtR {text-align:right;}

.height05 {height:0.5em; clear:both;}
.height1 {height:1em; clear:both;}
.height2 {height:2em; clear:both;}
.height3 {height:3em; clear:both;}
.height4 {height:4em; clear:both;}

/* 鏂囧瓧 */
.txt_blue { color:#0065b3;}



.btn_blue {background:#0079d2; color:#fff; padding:0.3em 1em; border-radius:0.5em;}


/* 鐧诲綍椤�*/


.login_main { margin:0 1em; border:0.08em solid #277abc; border-radius:0.3em;} 

.login_tab {margin:0 auto;}
.login_tab tr td {padding:0.1em 0;}
.login_input { border:0.08em solid #0162af; height:2em; line-height:2em; width:100%; border-radius:0.3em;}



/* 棣栭〉鏍峰紡 */

.index_blo {width:95%; margin:0 auto;}
.index_blo p{width:49%; height:3.5em; float:left; padding:0.5em 0;}
.index_blo1,.index_blo2,.index_blo3,.index_blo4,.index_blo5,.index_blo6 {border:0.08em solid #afafaf; display:block; width:8em; height:3.5em; margin:0 auto; border-radius:0.3em; line-height:3.5em; text-indent:3em;}
.index_blo1 { background:url(../img/icon_index1.png) no-repeat 0.2em center; background-size:2.5em 2.5em;}
.index_blo2 { background:url(../img/icon_index2.png) no-repeat 0.2em center; background-size:2.5em 2.5em;}
.index_blo3 { background:url(../img/icon_index3.png) no-repeat 0.2em center; background-size:2.5em 2.5em;}
.index_blo4 { background:url(../img/icon_index4.png) no-repeat 0.2em center; background-size:2.5em 2.5em;}
.index_blo5 { background:url(../img/icon_index5.png) no-repeat 0.2em center; background-size:2.5em 2.5em;}
.index_blo6 { background:url(../img/icon_index6.png) no-repeat 0.2em center; background-size:2.5em 2.5em;}

.index_fot {padding-top:0.4em; text-align:center;}
.index_fot_btn {text-align:center;}
.index_fot_btn span {background:#ff3b2f url(../img/icon_phone.png) no-repeat center center; width:3.5em; height:3.5em; background-size:2em 2em; border-radius:5em;}














