
.page-header{
	padding-bottom: 0px;
    padding-top: 0px;
}

.main-content{
	padding: 0px;
	margin: 0px;
}

.main-content-left{
	width: 25%;
    float: left;
}

.main-menu{
	list-style: none;
    /* background: #15757b; */
    color: #ffffff;
}
.main-menu li{
	height: 55px;
    line-height: 55px;
    background: #15757b;
    border-radius: 8px;
    margin-bottom: 10px;
    text-align: center;
}

.main-menu li a{
	color: white;
	display: block;
}
